TURSO_DATABASE_URL=libsql://bonapp-cos-ovinsyah.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MDkwMTAwMDcsImlkIjoiZDE2M2U0ZjEtZDUyYi0xMWVlLWFmZjgtOTIwZDIwYWZlZmEyIn0.GPGDKgxgSbAEm2_ooqcPkUyNhP5MuwfilryDtta4kfR7jRL4MG6LFlam-zZUQaN2srzhDlpWHv2rEFA_uLgHDg